
@mixin contain {
    max-width: 90%;
    margin-inline: auto;
}

@mixin contain-desktop {
    max-width: 1440px;
    margin-inline: auto;
}

@mixin transition {
    transition:  200ms ease-in-out;
    transition-property: opacity scale background-position ;
}
