:root {
    // Primary
    --color-primary: hsl(217, 28%, 15%);
    --color-secondary: hsl(218, 28%, 13%);
    --footer: hsl(216, 53%, 9%);
    --testimonials: hsl(219, 30%, 18%);

    //  Accent
    --gradient-primary: hsl(176, 68%, 64%);
    --gradient-secondary: hsl(198, 60%, 50%);
    --light-error: hsl(0, 100%, 63%);

    //  Neutral
    --white: hsl(0, 0%, 100%);

    // fonts
    --font-primary: 'Raleway', sans-serif;
    --font-secondary:'Open Sans', sans-serif; 
}

//Media Queries

$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;






